.option-info {
  background-color:#9a9bfd;
  color: #ffff;
  border-color: #9a9bfd;
  margin: 10px;
}

.cant {

  margin-left: 3px;

}


h1{
  color: #202E5D;
  margin-bottom: 35px;

}


.search{
  background-color: #2E59C2;
  color: #ffff;
  border-color: #2E59C2;
}


h5 {
  margin-left:70px;
  padding-bottom: 15px;

}

.item-list {
  padding: 20px;

}

.alert {
  padding: 10px;
}